<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/cardiogram.png">
    <link rel=stylesheet type=text/css href="/static/bootstrap.min.css">
    <title>Dashboard</title>
    <script src="/static/popper.min.js"></script>
    <script src="/static/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
</head>

<body>
    <div class="w-100 p-2 my-2 border-bottom page-header">
        <h3>Dashboard</h3>
    </div>
    <div class="container">
        <nav class="my-2">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-overview-tab" data-toggle="tab" href="#nav-overview"
                    role="tab" aria-controls="nav-overview" aria-selected="true">Overview</a>
                <a class="nav-item nav-link" id="nav-date-and-user-tab" data-toggle="tab" href="#nav-date-and-user"
                    role="tab" aria-controls="nav-date-and-user" aria-selected="false">Group by date and user </a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-overview" role="tabpanel" aria-labelledby="nav-overview-tab">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 15%;" class="th-sm" scope="col">User</th>
                            <th class="th-sm" scope="col">Device</th>
                            <th style="width: 20%;" class="th-sm" scope="col">
                                <div class="dropdown">
                                    <div class="dropdown-toggle" id="overviewDateSort" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Date
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="overviewDateSort">
                                        <a class="dropdown-item"
                                            href="?page=1&date_order=asc#nav-overview">Ascending</a>
                                        <a class="dropdown-item"
                                            href="?page=1&date_order=desc#nav-overview">Descending</a>
                                    </div>
                                </div>
                            </th>
                            <th style="width: 10%;" class="th-sm" scope="col">N frames</th>
                            {% if show_path%}
                            <th class="th-sm" scope="col">Filepath</th>
                            {% else %}
                            <th class="th-sm" scope="col">Filename</th>
                            {% endif %}
                            <th class="th-sm" scope="col">Dicom preview</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        {% for row in data[0] %}
                        <tr>
                            {% set rowloop = loop %}
                            <td>{{row.user}}</td>
                            <td>{{row.device}}</td>
                            <td>{{row.date}}</td>
                            <td>{{row.nframe}}</td>
                            {% if show_path %}
                            <td>
                                <a href={{row.url}} target="_blank">{{row.path}}</a>
                            </td>
                            {% else %}
                            <td>{{row.filename}}</td>
                            {% endif %}
                            <td>
                                <div class="d-flex">
                                    <button type="button" class="m-1 btn btn-outline-primary btn-sm" data-toggle="modal"
                                        data-target="#dicom-gif-modal-{{rowloop.index}}">View</button>
                                    {% if row.gif_url %}
                                    <a class="m-1 btn btn-outline-primary btn-sm" href={{row.gif_url}} target="_blank"
                                        role="button" download="{{row.gif_name}}">Download</a>
                                    {% else %}
                                    <a class="m-1 btn btn-outline-secondary btn-sm disabled" area-disabled="true"
                                        href={{row.gif_url}} target="_blank" role="button">
                                        Download
                                    </a>
                                    {% endif %}

                                    <div class="modal fade dicom-gif-modal" id="dicom-gif-modal-{{rowloop.index}}"
                                        tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                {% if row.gif_url %}
                                                <div class="modal-body">
                                                    <img class="lazy-load" data-src={{row.gif_url}}
                                                        style="width: 100%; " />
                                                </div>
                                                {% else %}
                                                <div class="m-2">
                                                    NO DICOM FILE IN DATABASE
                                                </div>
                                                {% endif %}
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary btn-sm"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-end mb-2">
                    <div class="d-flex py-1" style="font-size: x-small;">
                        {% for p in pagination.pages %}
                        {% if p == None %}
                        <p>......</p>
                        {% elif p == pagination.current_page %}
                        <a class="btn btn-sm btn-info mx-1"
                            href="?tab={{selected_tab}}&page={{p}}&date_order={{date_order}}" role="button"
                            style="font-size: small;">{{p}}</a>
                        {% else %}
                        <a class="btn btn-sm btn-outline-info mx-1"
                            href="?tab={{selected_tab}}&page={{p}}&date_order={{date_order}}" role="button"
                            style="font-size: small;">{{p}}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-date-and-user" role="tabpanel" aria-labelledby="nav-date-and-user-tab">
                <table class="table table-sm table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th style="width: 10%;" class="th-sm" scope="col">
                                <div class="dropdown">
                                    <div class="dropdown-toggle" id="overviewDateSort" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Date
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="overviewDateSort">
                                        <a class="dropdown-item"
                                            href="?page=1&date_order=asc#nav-date-and-user">Ascending</a>
                                        <a class="dropdown-item"
                                            href="?page=1&date_order=desc#nav-date-and-user">Descending</a>
                                    </div>
                                </div>
                            </th>
                            <th scope="col">User</th>
                            <th scope="col">Device</th>
                            <th scope="col">N frames</th>
                            <th scope="col">N dicoms</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        {% for row in data[1] %}
                        <tr>
                            {% set rowloop = loop %}
                            <th scope="row">{{rowloop.index}}</th>
                            <td>{{row.date}}</td>
                            <td>{{row.user}}</td>
                            <td>{{row.device}}</td>
                            <td>{{row.nframe}}</td>
                            <td>{{row.dicoms}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        if (window.location.hash === "#nav-date-and-user") {
            $('#nav-overview-tab').attr("class", "nav-item nav-link")
            $('#nav-overview').attr("class", "tab-pane fade");
            $('#nav-date-and-user-tab').attr("class", "nav-item nav-link active");
            $('#nav-date-and-user').attr("class", "tab-pane fade show active");
        }
        // lazy loading gif on modal
        $('.dicom-gif-modal').on("show.bs.modal", function (ev) {
            // console.log("loading...", ev.currentTarget);
            var img = $(ev.currentTarget).find("img[data-src]");
            img.attr("src", img.data("src"));
            img.removeAttr("data-src")
        });
        // update url when tab changed
        $(function () {
            var hash = window.location.hash;
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');

            $('.nav-tabs a').click(function (e) {
                $(this).tab('show');
                var scrollmem = $('body').scrollTop() || $('html').scrollTop();
                window.location.hash = this.hash;
                $('html,body').scrollTop(scrollmem);
            });
        });
    </script>
</body>

</html>
